In [1]:
import pandas as pd

/var/folders/8p/ft1k5gt143qc3r7v0q4q31dm0000gn/T/ipykernel_1627/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [8]:
df = pd.read_csv('model.csv')
df.head(10)

,Month,Year,Waist,Hips,Height,Weight,BMI,Waist/Hip
0,December,1953,24.000000,36.000000,65.000000,118.000000,19.630000,0.670000
1,January,1954,23.433172,34.698708,66.057258,114.936066,18.232168,0.677916
2,February,1954,23.433172,34.698708,66.057258,114.936066,18.232168,0.677916
3,March,1954,24.000000,35.000000,66.000000,118.000000,19.040000,0.690000
4,April,1954,23.433172,34.698708,66.057258,114.936066,18.232168,0.677916
5,May,1954,23.433172,34.698708,66.057258,114.936066,18.232168,0.677916
6,June,1954,23.433172,34.698708,66.057258,114.936066,18.232168,0.677916
7,July,1954,23.433172,34.698708,66.057258,114.936066,18.232168,0.677916
8,August,1954,23.433172,34.698708,66.057258,114.936066,18.232168,0.677916
9,September,1954,23.433172,34.698708,66.057258,114.936066,18.232168,0.677916

In [10]:
data = df[['BMI', 'Year', 'Waist', 'Hips', 'Height', 'Weight', 'Waist/Hip']]
data.corr()

,BMI,Year,Waist,Hips,Height,Weight,Waist/Hip
BMI,1.000000,0.025309,0.136549,0.211395,-0.037934,0.212701,-0.010173
Year,0.025309,1.000000,0.292518,-0.281576,0.284482,-0.010753,0.458945
Waist,0.136549,0.292518,1.000000,0.283060,0.372637,0.452704,0.742284
Hips,0.211395,-0.281576,0.283060,1.000000,0.228054,0.541836,-0.422412
Height,-0.037934,0.284482,0.372637,0.228054,1.000000,0.706569,0.198754
Weight,0.212701,-0.010753,0.452704,0.541836,0.706569,1.000000,0.067543
Waist/Hip,-0.010173,0.458945,0.742284,-0.422412,0.198754,0.067543,1.000000